@model DomowaBibliotekaCore.Models.Data_Models.Series

@{
    ViewBag.Title = "Delete";
}

<h2>Usuń</h2>

<h3>Czy napewno chcesz usunąć ten cykl?</h3>
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Cykl")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.series)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót", "Index")
        </div>
    }
</div>
