@model DomowaBibliotekaCore.Models.Data_Models.Series

@{
    ViewBag.Title = "Details";
}

<h2>Szczegóły</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Cykl")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.series)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Powrót", "Index")
</p>
